<div class="py-12 homepage-content_block">
  <div class="mb-10">
    <h2 class="h3 md:h2 text-center">
      <% if translated_title.blank? %>
        <%= t("decidim.pages.home.custom_hero.title", organization: current_organization.name) %>
      <% else %>
        <%= decidim_sanitize_admin translated_title %>
      <% end %>
    </h2>
  </div>

  <div>
    <p class="text-center px-4 mx-auto text-xl md:w-1/3">
      <% if translated_description.blank? %>
        <%= t("decidim.pages.home.custom_hero.introduction") %>
      <% else %>
        <%= decidim_sanitize_admin translated_description %>
      <% end %>
    </p>
  </div>

  <%= render :cta_button %>
</div>
