<% add_decidim_page_title component_name %>
<%= append_javascript_pack_tag "decidim_blogs" %>
<%= append_stylesheet_pack_tag "decidim_blogs" %>

<main>
  <div class="row column component-background">
    <div class="one-col mx-auto space-y-4 text-center">
      <h1 class="title-decorator h2 md:h1"><%= component_name %></h1>

      <%= render partial: "decidim/shared/components/intro" %>
    </div>
  </div>

  <%= render partial: "decidim/shared/component_announcement" %>

  <div class="row column one-col mx-auto">
    <% unless posts.empty? %>
      <h2 class="h3 decorator md:h2"><%= t("count", scope: "decidim.blogs.posts.index", count: posts.length) %></h2>
    <% end %>
  </div>

  <div class="one-col mx-auto">
    <div class="flex justify-between gap-10">
      <section id="blogs" class="layout-main__section layout-main__heading">
        <% if posts.empty? %>
          <%= cell("decidim/announcement", t("empty", scope: "decidim.blogs.posts.index")) %>
        <% end %>

        <% paginate_posts.each do |post| %>
          <%= card_for post, size: :l %>
        <% end %>

        <%= decidim_paginate paginate_posts %>
      </section>
    </div>
  </div>
</main>
