<div class="py-12 homepage-content_block space-y-8">
  <div class="mb-10">
    <h2 class="h3 md:h2 text-center">
      <% if translated_title.blank? %>
        <%= t("decidim.pages.home.guideline.title", organization: current_organization.name) %>
      <% else %>
        <%= decidim_sanitize_admin translated_title %>
      <% end %>
    </h2>
  </div>

  <div class="guideline">
    <% if render?("idea") %>
      <div class="flex flex-col items-center w-48">
        <div class="h-20 w-20 rounded-full border-2 border-black flex items-center justify-center">
          <%= icon("lightbulb-flash-line", class: "h-14 w-14") %>
        </div>

        <p class="h4 my-4"><%= t(".idea") %></p>
        <p class="text-center text-md"><%= t(".idea_desc") %></p>
      </div>
    <% end %>

    <% if render?("develop") %>
      <div class="flex flex-col items-center w-48">
        <div class="h-20 w-20 rounded-full border-2 border-black flex items-center justify-center">
          <%= icon("settings-2-line", class: "h-14 w-14") %>
        </div>

        <p class="h4 my-4"><%= t(".develop") %></p>
        <p class="text-center text-md"><%= t(".develop_desc") %></p>
      </div>
    <% end %>

    <% if render?("vote")%>
      <div class="flex flex-col items-center w-48">
        <div class="h-20 w-20 rounded-full border-2 border-black flex items-center justify-center">
          <%= icon("checkbox-multiple-line", class: "h-14 w-14") %>
        </div>

        <p class="h4 my-4"><%= t(".vote") %></p>
        <p class="text-center text-md"><%= t(".vote_desc") %></p>
      </div>
    <% end %>

    <% if render?("follow") %>
      <div class="flex flex-col items-center w-48">
        <div class="h-20 w-20 rounded-full border-2 border-black flex items-center justify-center">
          <%= icon("eye-line", class: "h-14 w-14") %>
        </div>

        <p class="h4 my-4"><%= t(".follow") %></p>
        <p class="text-center text-md"><%= t(".follow_desc") %></p>
      </div>
    <% end %>
  </div>

  <%= render :cta_button %>
</div>
