<% items = filter_items_for(participatory_space: current_participatory_space, category:) %>
<div class="accountability__filters-simple">
  <%= render partial: "search" %>

  <% if current_component.has_subscopes? %>
    <div class="filter-container">
      <p class="h6 mb-1"><%= t(".category") %></p>
      <button type="button" id="dropdown-trigger-accountability" data-component="dropdown" data-target="dropdown-menu-accountability" data-open-md="true">
        <% items.each do |item| %>
          <%= content_tag :span, class: "#{"is-active" if item[:active]}" do %>
            <span class="sr-only"><%= item[:sr_text] %></span>
            <%= icon item[:icon] %>
            <span><%= item[:text] %></span>
          <% end %>
        <% end %>
        <%= icon "arrow-down-s-line", class: "w-8 h-8 flex-none text-[--primary] fill-current" %>
        <%= icon "arrow-up-s-line", class: "w-8 h-8 flex-none text-[--primary] fill-current" %>
      </button>
      <ul id="dropdown-menu-accountability" data-scope-filters>
        <% items.each do |item| %>
          <li role="menuitem">
            <%= link_to item[:url], class: "filter#{" is-active" if item[:active]}" do %>
              <span class="sr-only"><%= item[:sr_text] %></span>
              <%= icon item[:icon] %>
              <span><%= item[:text] %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <button type="submit" class="button button__secondary mt-6 h-10 w-2/6" aria-label="<%= t("search", scope: "decidim.accountability.results.search") %>">
    <%= t(".search_bar") %>
  </button>
</div>
