<% add_decidim_page_title component_name %>
<%= append_javascript_pack_tag "decidim_accountability" %>
<%= append_stylesheet_pack_tag "decidim_accountability" %>

<main>
  <div class="row column component-background">
    <div class="one-col mx-auto space-y-4 text-center">
      <h1 class="title-decorator h2 md:h1"><%= component_name %></h1>

      <%= render partial: "decidim/shared/components/intro" %>

      <% if component_settings.display_progress_enabled? %>
        <%= cell(
              "decidim/accountability/status",
              nil,
              title: t("decidim.accountability.results.home_header.global_status"),
              progress: progress_calculator(current_scope, nil).presence
            ) %>
      <% end %>
    </div>
  </div>

  <div class="double-col_off mx-auto">
    <%= render partial: "scope_filters" %>

    <section>
      <% if results.empty? %>
        <%= cell("decidim/announcement",
                params[:filter].present? ?
                t("empty_filters", scope: "decidim.accountability.results.home") :
                t("empty", scope: "decidim.accountability.results.home")) %>
      <% else %>
        <% results.each do |result| %>
          <%= cell "decidim/accountability/result_l", result, url_extra_params: { included_in: result.to_gid } %>
        <% end %>
      <% end %>
    </section>
  </div>
</main>
