<%= append_javascript_pack_tag "decidim_accountability" %>
<%= append_stylesheet_pack_tag "decidim_accountability" %>

<main class="space-y-8">
  <div class="row column component-background">
    <div class="one-col mx-auto space-y-4 text-center">
      <h1 class="title-decorator h2 md:h1"><%= component_name %></h1>

      <div class="text-xl">
        <% if component_settings.intro %>
          <%= decidim_sanitize_admin translated_attribute(component_settings.intro) %>
        <% else %>
          <p><%= t(".intro", component: component_name) %></p>
        <% end %>
      </div>

      <% if component_settings.display_progress_enabled? %>
        <%= cell(
              "decidim/accountability/status",
              nil,
              title: t("decidim.accountability.results.home_header.global_status"),
              progress: progress_calculator(current_scope, nil).presence
            ) %>
      <% end %>
    </div>
  </div>

  <div class="double-col_off mx-auto">
    <%= render partial: "scope_filters" %>

    <section id="results">
      <%= cell "decidim/accountability/results", results %>
      <%= decidim_paginate results, order_start_time: params[:order_start_time], with_scope: params.dig(:filter, :with_scope) %>
    </section>
  </div>
</main>
