<%= append_javascript_pack_tag "decidim_accountability" %>
<%= append_stylesheet_pack_tag "decidim_accountability" %>

<div class="space-y-8">
  <div class="row column component-background">
    <div class="w-4/6 mx-auto space-y-4 text-center">
      <h1 class="title-decorator"><%= component_name %></h1>

      <% if component_settings.intro %>
        <p class="text-center text-xl"><%= decidim_sanitize_admin translated_attribute(component_settings.intro) %></p>
      <% else %>
        <p class="text-center text-xl"><%= t(".intro", component: component_name) %></p>
      <% end %>

      <% if component_settings.display_progress_enabled? %>
        <%= cell(
              "decidim/accountability/status",
              nil,
              title: t("decidim.accountability.results.home_header.global_status"),
              progress: progress_calculator(current_scope, nil).presence
            ) %>
      <% end %>
    </div>
  </div>

  <div class="double-col mx-auto">
    <%= render partial: "scope_filters" %>

    <section id="results">
      <%= cell "decidim/accountability/results", results %>
      <%= decidim_paginate results, order_start_time: params[:order_start_time], with_scope: params.dig(:filter, :with_scope) %>
    </section>
  </div>
</div>
