<%
if respond_to?(:current_component) && current_component && can_be_managed?(current_component)
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space:
  )
end
%>

<%= append_javascript_pack_tag "decidim_simple_ui", defer: false %>

<div class="layout-container">
  <header>
    <%= render partial: "layouts/decidim/admin_links" if current_user && allowed_to?(:read, :admin_dashboard) %>
    <%= render partial: "layouts/decidim/header/top" %>
    <%= render partial: "layouts/decidim/header/main" %>
    <% if Decidim.module_installed?(:nav) %>
      <%= render partial: "decidim/nav/shared/action_panel_links", locals: { navigable: current_organization, mobile: true } %>
    <% end %>

    <%= render partial: "layouts/decidim/header/menu" %>
    <% if Decidim.module_installed?(:nav) %>
      <%= render partial: "layouts/decidim/header/mobile_account_menu" %>
      <%= render partial: "layouts/decidim/breadcrumbs" unless controller.is_a?(Decidim::HomepageController) %>
    <% end %>
  </header>

  <div id="content" data-content class="<%= "no-padding" if @frontpage %>">
    <% if display_flash_messages.present? %>
      <div class="container">
        <%= display_flash_messages %>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <footer>
    <%= render partial: "layouts/decidim/footer/main" %>
    <%= render partial: "layouts/decidim/footer/mini" %>
  </footer>
</div>
