<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <div class="row column">
    <%= settings_fields.translated :text_field, :title, label: t(".title") %>
  </div>

  <div class="row column">
    <%= settings_fields.translated :editor, :description, label: t(".description") %>
  </div>

  <div class="row column">
    <%= settings_fields.translated :text_field, :button_text, label: t(".button_text") %>
  </div>

  <div class="row column">
    <%= settings_fields.translated :text_field, :button_url, label: t(".button_url") %>
  </div>
<% end %>

<% form.fields_for :images, form.object.images do |images_fields| %>
  <div class="row column">
    <%= images_fields.upload :hero_image, label: t(".hero_image") %>
  </div>
<% end %>

<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <div class="row column">
    <%= settings_fields.translated :text_field, :image_alt, label: t(".image_alt") %>
  </div>
<% end %>
