<div data-order-progress-responsive="<%= responsive.inspect %>" class="budget-summary__content">
  <div class="budget-summary__progressbox" data-current-allocation="<%= current_order ? current_order.total : 0 %>">
    <div class="budget-summary__progressbar">
      <div class="budget-summary__progressbar-marks">
        <%= render partial: "decidim/budgets/projects/order_progress_progressbar_marks_right" %>
      </div>

      <div class="progress budget-progress" role="progressbar" aria-label="<%= t("budget", scope: "decidim.budgets.projects.order_progress") %>" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %> %" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-meter budget-summary__progressbar--meter" style="width: <%= current_order_budget_percent %>%"> </div>
          <strong id="order-total-budget">
            <%= render partial: "decidim/budgets/projects/order_total_budget" %>
          </strong>
      </div>
    </div>
  </div>
  <div class="budget-summary__progressbox-buttons">
    <% if !current_order_checked_out? && voting_open? %>
      <button class="button button__secondary button__lg w-full" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
        <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
        <%= icon "check-line" %>
      </button>
    <% end %>
    <% if include_heading && current_order_checked_out? %>
      <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order w-full", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
        <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
        <%= icon "delete-bin-line" %>
      <% end %>
    <% end %>
  </div>

  <div class="w-screen max-w-screen progressbox-fixed-wrapper" data-progressbox-fixed>
    <div class="gap-0 layout-item py-4 items-end budget-summary__progressbar">
      <div class="budget-summary__progressbox layout-item__main">
        <%= render partial: "decidim/budgets/projects/order_progress_progressbar_marks_right" %>
        <div class="progress budget-progress relative" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-meter budget-summary__progressbar--meter" style="width: <%= current_order_budget_percent %>%">
            <strong id="order-total-budget-sticky" class="budget-summary__progressbar-legend-strong">
              <%= render partial: "decidim/budgets/projects/order_total_budget" %>
            </strong>
          </div>
        </div>
      </div>
      <div class="layout-item__aside budget-summary__progressbox-buttons">
        <% if !current_order_checked_out? && voting_open? %>
          <button class="button button__secondary button__lg md:mt-0 w-full" data-dialog-open="budget-confirm" <%= budget_confirm_disabled_attr %>>
            <span>
              <%= t("vote", scope: "decidim.budgets.projects.budget_summary") %>
            </span>
            <%= icon "check-line" %>
          </button>
        <% end %>
        <% if include_heading && current_order_checked_out? %>
          <%= link_to budget_order_path(return_to: "budget"), method: :delete, class: "button button__lg button__secondary cancel-order w-full mt-2 md:mt-0", data: { confirm: t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") } do %>
            <span><%= t("cancel_order", scope: "decidim.budgets.projects.budget_summary") %></span>
            <%= icon "delete-bin-line" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
