<nav role="navigation" aria-label="<%= t("layouts.decidim.app_name") %>">
  <p class="h6 mb-4"><%= t("layouts.decidim.app_name") %></p>
  <ul class="space-y-4 break-inside-avoid ">
    <%= cell("decidim/footer_pages", :pages) %>
    <li>
      <%= link_to t("layouts.decidim.footer.terms_and_conditions"), decidim.page_path("terms-and-conditions") %>
    </li>
    <li>
      <a href="#" data-dialog-open="dc-modal"><%= t("layouts.decidim.footer.data_consent_settings") %></a>
    </li>
  </ul>
</nav>
