<div class="flex gap-4">
  <a class="flex gap-1 hover:opacity-50" rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" data-external-link="text-only">
    <span class="sr-only"><%= t("layouts.decidim.footer.cc_by_license") %></span>
    <%= icon "creative-commons-line", class: "w-6 h-6 fill-current" %>
    <%= icon "creative-commons-by-line", class: "w-6 h-6 fill-current" %>
    <%= icon "creative-commons-sa-line", class: "w-6 h-6 fill-current" %>
  </a>
  <div>
    <div class="text-md mt-px [&_a]:underline">
      <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
    </div>
  </div>
</div>

<ul class="flex justify-between gap-6 mt-8 text-sm text-white hover:[&_a]:opacity-50 md:justify-start md:mt-0">
  <% if current_organization.twitter_handler.present? %>
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://twitter.com/<%= current_organization.twitter_handler %>">
        <span class="sr-only"><%= t("layouts.decidim.social_media_links.x", organization: translated_attribute(current_organization.name)) %></span>
        <%= icon "twitter-x-line", class: "w-8 h-8 fill-current", "aria-label": "X" %>
      </a>
    </li>
  <% end %>
  <% if current_organization.facebook_handler.present? %>
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://www.facebook.com/<%= current_organization.facebook_handler %>">
        <span class="sr-only"><%= t("layouts.decidim.social_media_links.facebook", organization: translated_attribute(current_organization.name)) %></span>
        <%= icon "facebook-fill", class: "w-8 h-8 fill-current", "aria-label": "Facebook" %>
      </a>
    </li>
  <% end %>
  <% if current_organization.instagram_handler.present? %>
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://www.instagram.com/<%= current_organization.instagram_handler %>">
        <span class="sr-only"><%= t("layouts.decidim.social_media_links.instagram", organization: translated_attribute(current_organization.name)) %></span>
        <%= icon "instagram-line", class: "w-8 h-8 fill-current", "aria-label": "Instagram" %>
      </a>
    </li>
  <% end %>
  <% if current_organization.youtube_handler.present? %>
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://www.youtube.com/<%= current_organization.youtube_handler %>">
        <span class="sr-only"><%= t("layouts.decidim.social_media_links.youtube", organization: translated_attribute(current_organization.name)) %></span>
        <%= icon "youtube-line", class: "w-8 h-8 fill-current", "aria-label": "Youtube" %>
      </a>
    </li>
  <% end %>
  <% if current_organization.github_handler.present? %>
    <li>
      <a target="_blank" data-external-link="text-only" rel="noopener noreferrer" href="https://www.github.com/<%= current_organization.github_handler %>">
        <span class="sr-only"><%= t("layouts.decidim.social_media_links.github", organization: translated_attribute(current_organization.name)) %></span>
        <%= icon "github-fill", class: "w-8 h-8 fill-current", "aria-label": "Github" %>
      </a>
    </li>
  <% end %>
</ul>
