<% if Devise.mappings[:user].omniauthable? && current_organization.enabled_omniauth_providers.any? %>
  <%
  strong_providers = []
  other_providers = []
  current_organization.enabled_omniauth_providers.keys.select do |p|
    if %i(suomifi mpassid).include?(p)
      strong_providers << p
    else
      other_providers << p
    end
  end
  %>

  <% unless strong_providers.empty? %>
    <%= wrapper.call do %>
      <div class="strong-providers">
        <div class="row w-9/12 mx-auto">
          <div class="space-y-6 columns medium-8 medium-centered text-center">
            <%- strong_providers.each do |provider| %>
              <div class="social-register">
                <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)}", method: :post do %>
                  <span class="button--social__icon">
                    <%= oauth_icon provider %>
                  </span>
                  <span class="button--social__text">
                    <%= t("devise.shared.omniauth.#{provider}.sign_in_button") %>
                  </span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless other_providers.empty? %>
    <%= wrapper.call do %>
      <div class="other-providers mt-6">
        <div class="text-center mb-2 font-semibold w-4/12 mx-auto">
          <p><%= t("devise.shared.links.sign_in_with_omniauth") %> </p>
        </div>
        <div class="row w-9/12 mx-auto">
          <div class="space-y-6 columns medium-8 medium-centered text-center">
            <%- other_providers.each do |provider| %>
              <div class="social-register">
                <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{normalize_provider_name(provider)}", method: :post do %>
                  <span class="button--social__icon">
                    <%= oauth_icon provider %>
                  </span>
                  <span class="button--social__text">
                    <%= t("devise.shared.omniauth.#{provider}.sign_in_button") %>
                  </span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%- if current_organization.sign_in_enabled? %>
      <span class="register__separator">
        <span class="register__separator__text"><%= t("devise.shared.credentials.login") %></span>
        <%= icon "arrow-down-s-line", class: "w-8 h-8 flex-none text-secondary fill-current"%>
      </span>
    <%- end %>
  <% end %>
<% end %>
