<main class="simple-tabs">
  <h1 class="container h1 mt-6"><%= translated_attribute page.title %></h1>

  <div class="vertical-tabs">
    <section>
      <%= cell "decidim/tos_page", :announcement %>

      <div class="editor-content">
        <% page_content_blocks.each do |content_block| %>
          <%= cell content_block.manifest.cell, content_block %>
        <% end %>

        <%= decidim_sanitize_editor_admin translated_attribute page.content %>
      </div>
      <%= cell "decidim/tos_page", :form %>
    </section>

    <nav role="menu">
      <span class="h3"><%= title %></span>

      <% pages.each do |sibling| %>
        <p class="<%= "is-active" if page == sibling %>" role="menuitem">
          <%= link_to translated_attribute(sibling.title), page_path(sibling.slug) %>
        </p>
      <% end %>
    </nav>
  </div>
</main>
