<% add_decidim_meta_tags(title: t("participatory_processes.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_participatory_processes.participatory_processes_path,
  :read,
  :process_list
)
%>

<%= append_stylesheet_pack_tag "decidim_participatory_processes", media: "all" %>
<%= append_javascript_pack_tag "decidim_participatory_processes" %>

<main>
  <h1 class="h2 text-center py-16 md:h1"><%= t(".all_processes") %></h1>

  <% if promoted_collection.any? %>
    <section id="highlighted-processes" class="one-col">
      <h2 class="h3 decorator pb-8 md:h2"><%= t("participatory_processes.index.promoted_processes", scope: "layouts.decidim") %></h2>

      <% promoted_collection.each do |promoted_item| %>
        <%= card_for promoted_item, highlight: true, size: :g, class: "kik" %>
      <% end %>
    </section>
  <% end %>

  <div class="double-col">
    <%= render partial: "count" %>

    <%= render partial: "decidim/shared/process_filters", locals: { filter_sections:, skip_to_id: "processes-grid" } %>
  </div>

  <section id="processes-grid" class="one-col">
    <%= render partial: "collection" %>
  </section>
</main>

<%= append_javascript_pack_tag "decidim_simple_ui_process_filters" %>
