<%= decidim_form_for(resource, namespace: "session", as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form__wrapper">
    <%= f.email_field :email, placeholder: t("placeholder_email", scope: "decidim.devise.shared") %>

    <%= render partial: "decidim/account/password_fields", locals: { form: f } %>

    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, label_options: { class: "form__wrapper-checkbox-label" } %>
    <% end %>
  </div>

  <div>
    <button type="submit" class="button button__lg button__secondary w-full">
      <%= t("devise.sessions.new.log_in") %>
    </button>
  </div>

  <div class="login__links">
    <%= render "decidim/devise/shared/links" %>
  </div>
<% end %>
