<% add_decidim_page_title(t("devise.sessions.new.log_in")) %>

<%= render layout: "layouts/decidim/shared/layout_center" do %>
  <div class="flex justify-center">
    <h1 class="title-decorator mt-12 mb-20"><%= t("devise.sessions.new.log_in") %></h1>
  </div>

  <div class="omniauth-buttons mb-9">
    <% cache current_organization do %>
      <%= render "decidim/devise/shared/omniauth_buttons" %>
    <% end %>
  </div>

  <% if current_organization.sign_in_enabled? %>
    <div class="flex flex-col accordion" data-component="accordion">
      <div class="accordion-trigger text-center text-lg">
        <button id="accordion-trigger-login" class="button button__text-secondary" data-controls="accordion-panel-login" data-open="<%= resource.email.present? %>">
          <span><%= t("devise.shared.credentials.login") %></span>
          <span>
            <%= icon "arrow-down-s-line", class: "accordion-trigger-arrow" %>
          </span>
        </button>
      </div>

      <div id="accordion-panel-login" class="accordion-panel" aria-hidden="true">
        <%= render "decidim/devise/sessions/login_form" %>
      </div>
    </div>
  <% end %>
<% end %>
