<section id="hero-<%= resource&.id %>" data-process-hero class="content-block process-banner">
  <div class="participatory-space__hero">
    <div class="participatory-space__hero-text">
      <h1 class="h2 text-black break-words md:break-normal md:h1">
        <%= title_text %>
      </h1>
      <p class="participatory-space__hero-slogan">
        <%= subtitle_text %>
      </p>
      <% if has_cta? %>
        <%= link_to cta_text, cta_path, class: "button button__lg button__secondary", data: { cta: "" } %>
      <% end %>
    </div>

    <div class="pt-4">
      <%= cell "decidim/nav_links", nav_items unless resource.is_a?(Decidim::ParticipatoryProcessGroup) %>
    </div>
  </div>
</section>
