<div class="p-4">
  <p class="h3 card__list-title">
    <%= title %>
  </p>
  <%= render :description %>
</div>
<div class="card__details">
  <div class="card__details__info">
    <div class="card__details__info__label">
      <%= t("decidim.accountability.models.result.fields.progress") %>
    </div>
    <div class="card__details__info__data">
      <%= display_percentage result.progress %>
    </div>
  </div>

  <span class="button button__lg button__secondary">
    <%= t(".explore") %>
    <%= icon "arrow-right-line" %>
  </span>
</div>
