<div class="p-4">
  <p class="h3 card__list-title">
    <%= title %>
  </p>
  <%= render :description %>
</div>
<div class="component-background-color p-2 flex flex-row-reverse gap-4 justify-between items-center md:justify-center md:flex-col md:items-center">
  <div class="text-[28px] font-bold">
    <%= display_percentage result.progress %>
  </div>

  <span class="button button__lg button__secondary">
    <%= t(".explore") %>
    <%= icon "arrow-right-line" %>
  </span>
</div>
