<%= decidim_modal id: "loginModal", class: "login__modal" do %>

  <%
  path = if content_for(:redirect_after_login)
           session_path(:user, redirect_url: content_for(:redirect_after_login))
         else
           session_path(:user)
         end
  %>

  <%= decidim_form_for(Decidim::User.new, namespace: "login", as: :user, url: path, html: { class: nil }) do |f| %>
    <div data-dialog-container>
      <%= icon "login-box-line", class: "w-6 h-6 text-gray fill-current" %>
      <h3 id="dialog-title-loginModal" class="h3" data-dialog-title><%= t(".please_log_in") %></h3>

      <% if current_organization.sign_in_enabled? %>
        <% if current_organization.enabled_omniauth_providers.any? %>
          <div class="mt-8 md:grid md:grid-cols-6">
            <div class="md:col-span-4 md:col-start-2">
              <% cache current_organization do %>
                <%= render partial: "decidim/devise/shared/omniauth_buttons", locals: { is_horizontal: true } %>
              <% end %>
            </div>
          </div>

          <div class="accordion mt-8" data-component="accordion">
            <div class="accordion-trigger text-center text-lg">
              <button id="accordion-trigger-login-modal" class="button button__text-secondary" data-controls="accordion-panel-login-modal">
                <span><%= t("devise.shared.credentials.login") %></span>
                <span>
                  <%= icon "arrow-down-s-line", class: "accordion-trigger-arrow" %>
                </span>
              </button>
            </div>

            <div id="accordion-panel-login-modal" class="accordion-panel" aria-hidden="true">
              <%= render partial: "decidim/shared/login_modal_form", locals: { f: f } %>
            </div>
          </div>
        <% else %>
          <%= render partial: "decidim/shared/login_modal_form", locals: { f: f } %>
        <% end %>
      <% else %>
        <div>
          <%= cell("decidim/announcement", t("sign_in_disabled", scope: "decidim.devise.sessions.new"), callout_class: "warning" ) %>

          <div class="mt-8 md:grid md:grid-cols-6">
            <div class="md:col-span-4 md:col-start-2">
              <% cache current_organization do %>
                <%= render partial: "decidim/devise/shared/omniauth_buttons", locals: { is_horizontal: true } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>
