<% add_decidim_page_title(t("decidim.meetings.directory.meetings.index.meetings")) %>

<%= append_stylesheet_pack_tag "decidim_meetings", media: "all" %>
<%= append_javascript_pack_tag "decidim_meetings" %>

<section role="region" aria-label="Meetings header" class="space-y-8">
  <div class="row column component-background">
    <div class="one-col mx-auto space-y-4">
      <h1 class="title-decorator text-center h2 md:h1"><%= translated_attribute(component.name) %></h1>

      <p class="text-center text-xl"><%= t(".intro", component: translated_attribute(component.name)) %></p>
    </div>
  </div>

  <div class="one-col mx-auto">
    <% if display_map %>
      <div class="simple-map">
        <%= cell "decidim/meetings/meetings_map", search.result %>
      </div>
    <% end %>
  </div>

  <div class="row column one-col mx-auto">
    <% unless meetings.length.zero? %>
      <h2 id="meeting-count" class="h3 decorator md:h2">
        <%= t("meetings_count", scope: "decidim.meetings.meetings.count", count: meetings.total_count) %>
      </h2>
    <% end %>
  </div>
</section>

<main>
  <div class="double-col_off mx-auto">
    <div>
      <div>
        <%= render partial: "decidim/meetings/shared/filters", locals: {
              search_variable:,
              filter_options: filter_options || {}
            } %>
      </div>

      <% if display_announcement %>
        <%= render partial: "decidim/shared/component_announcement" %>
      <% end %>
    </div>

    <div id="meetings" class="layout-main__section layout-main__heading w-full">
      <%= render partial: "decidim/meetings/shared/meetings", locals: { component: } %>
    </div>
  </div>
</main>
