<%
  supports_enabled = respond_to?(:supports?) && supports?
  main_image_enabled = respond_to?(:main_image?) && main_image?
%>

<% if main_image_enabled %>
  <% if proposal.photo.present? %>
    <div class="card__list-image" <% if supports_enabled %>data-dialog-open="proposal-modal-<%= model.id %>"<% end %>>
      <%= image_tag proposal.photo.url, alt: "main-image", class: (supports_enabled ? "cursor-pointer" : "") %>
    </div>
  <% else %>
    <div class="placeholder-image <%= supports_enabled ? "cursor-pointer" : "" %>" <% if supports_enabled %>data-dialog-open="proposal-modal-<%= model.id %>"<% end %>>
      <div class="placeholder-image_background">
      </div>
      <%= external_icon "media/images/placeholder-card-l.svg", class: "card__placeholder-l 2xl:static" %>
    </div>
  <% end %>
<% end %>
<div class="p-4 <%= 'cursor-pointer' if supports_enabled %>"
  <% if supports_enabled %>
    data-dialog-open="proposal-modal-<%= model.id %>"
  <% end %>
>
  <p class="h3 card__list-title_large <%= 'title_large-image' if main_image_enabled %>">
    <%= title %>
  </p>

  <%= render :description %>
  <%= render :metadata %>

  <% if respond_to?(:more_info?) && more_info? %>
    <%= cell("decidim/tags", resource, context: { extra_classes: ["gap-4 md:gap-4"] }).call(:card_tag)%>
  <% end %>
</div>
<div class="<%= supports_enabled ? 'component-background-color vote-open' : 'component-background-color card-open' %>">
  <% if supports_enabled %>
    <% if !current_settings.votes_hidden? %>
      <div>
        <%= t(".proposal_vote_count") %>
      </div>

      <div class="font-bold text-2xl">
        <%= model.proposal_votes_count %>
      </div>
    <% end %>

    <%= view_context.render partial: "decidim/proposals/proposals/vote_button", locals: { proposal: model, from_proposals_list: false } unless model.withdrawn? %>
  <% else %>
    <span class="button button__lg button__secondary min-w-44">
      <%= model.is_a?(Decidim::Debates::Debate) && model.open? ? t(".participate") : t(".explore") %>
      <%= icon "arrow-right-line" %>
    </span>
  <% end %>
</div>

